# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
  services:
    server:
      container_name: api-gateway
      build:
        context: .
      command: npm run start:dev
      environment:
        NODE_ENV: development
        RMQ_URL: amqp://guest:guest@rabbitmq:5672
      networks:
        - rabbitmq-network
      ports:
        - 3000:3000
      volumes:
        - .:/usr/src/app
        - /usr/src/app/node_modules

    rabbitmq:
      image: rabbitmq:3.9-management-alpine
      container_name: rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
      networks:
        - rabbitmq-network


  networks: 
    rabbitmq-network: 
      external: true


 